@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --white: #FFF;
  --black: #000;
  --gray: #F7F7F8;
  --sky-blue: #AFD2FE;
  --purple: #D8BCFE;
  --brown: #B9A8A6;
  --darker-gray: #646A8C;
  --orange: #F7582D;
  --blue: #3247D8;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globals */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gray);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

/* Button */

.btn {
  cursor: pointer;
  border: none;
}

.btn.aside {
  background-color: #6371ce;
  color: var(--white);
  border-radius: 10px;
  padding: .2rem;
}

.btn.btn-primary {
  font-weight: bold;
  width: 200px;
  height: 30px;
  margin: 10px;
  font-size: 16px;
  box-shadow: 1px 1px 5px;
  background: rgb(253, 253, 253);
  border-radius: 10px;
  color: var(--black);
  text-transform: capitalize;
}

.btn.btn-primary:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.btn.aside.active {
  margin-right: 1rem;
}


/* Sidebar */
.sidebar {
  width: 4rem;
  padding: 1rem 0;
  background-color: var(--white);
  transition: width .3s;
  overflow-x: hidden;
}

@media only screen and (max-width: 640px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.sidebar.active {
  width: 15.625rem;
}

.aside.action {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: justify-content .50s;
}

.aside span {
  font-size: 2.1rem;

}

.aside.action.active {
  justify-content: flex-end;
  transition: justify-content .3s;
}

.aside-menu-list {
  margin-top: 2rem;
  overflow-y: auto;
}

.aside-item {
  margin-top: .5rem;
  white-space: nowrap;
}


.aside-link:hover {
  background-color: var(--gray);
  font-weight: bold;
}

.aside-link:hover>.aside-icon {
  color: var(--blue);
}


.aside-link.active,
.aside-icon.active {

  background-color: var(--gray);
  font-weight: bold;
  color: var(--blue);
}




.aside-icon {
  font-size: 2rem;
  color: var(--darker-gray);
}

.aside-link {
  display: flex;
  align-items: center;
  padding: .5rem 0 .5rem .5rem;
  border-radius: 1rem;
  margin: 0 .5rem;
  overflow-x: hidden;
}


.link-text {
  margin-left: 1rem;
  color: var(--black);
  font-size: 16px;
}

/* Main Content */
.main {
  flex: 1;
  padding: 1rem 1rem 0 1rem;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(90deg, rgb(90, 78, 255) 0%, rgb(53, 65, 240) 50%, rgb(13, 2, 222) 100%);
  background: url(fotos/bg2.png) rgb(90, 78, 255) center ;

}

@media only screen and (max-width: 640px) {
  .main {
    margin-left: 4rem;
  }
}

.contenedor {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 300px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.seleccion_alumno {

  justify-content: center;
  text-align: center;
  width: 500px;
  height: 270px;
  background: rgba(74, 22, 158, 0);
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  background: rgba(70, 20, 198, 0.703);
  border: solid 5px black;
}

.seleccion_alumno h1 {
  margin-top: 70px;
  margin-bottom: 30px;
  color: white;
}


.seleccion_alumno button {
  width: 200px;
  height: 30px;
  margin: 10px;
  font-size: 15px;
  box-shadow: 1px 1px 5px;
  border: none;
  border-radius: 10px;
  background: black;
}

.seleccion_alumno_link {

  padding: 6px 40px;
  color:white;
  

}

.contenedor_titulo_cardmaterias {

  margin-bottom: 40px;
  
  box-shadow: 1px 1px 10px black;
  padding-top: 10px;
  width: 100%;
  height: auto;
  padding-left: 30px;
  padding-right: 20px;
 background:rgba(90, 78, 255, 0.786);
 

}


.titulo_cardmaterias {

  border-bottom: solid 3px white;
  height: 60px;
  width: 100%;
}

.titulo_cardmaterias h1 {
  padding-top: 6px;
  color: white;
}

.boton_subtitulo {
  margin-top: 15px;
  
  width: 100%;
  height: 50px;
}

.subtitulo_cardmaterias {

  width: auto;
  float: left;

}

.subtitulo_cardmaterias h2 {
  margin-top: 10px;
  color: black;
}

.boton_cardmaterias {

  width: auto;
  margin-right: 20px;
  float: right;
  margin-top: 3px;

}

.boton_cardmaterias button {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, rgb(178, 178, 178) 0%, rgb(122, 122, 122) 50%, rgb(81, 81, 81) 100%);
  box-shadow: 1px 2px 5px black;
  background: rgb(11, 11, 11);
  

}

.link_boton_cardmaterias {
  padding: 14px 59px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}





.contenedor_cardmaterias {

  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;


}

.cardmaterias {

  
  background: linear-gradient(90deg, rgba(90, 78, 255, 0.674) 0%, rgba(53, 65, 240, 0.688) 50%, rgba(13, 2, 222, 0.65) 100%);
  width: 380px;
  background: rgba(70, 20, 198, 0.703);
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  margin: 20px;
  border:  solid 5px black;



}

.cardmaterias h1 {
  margin-left: 30px;
  margin-top: 30px;
  color: white;

  width: 320px;
  border-bottom: solid 2px rgb(255, 255, 255);
}

.cardmaterias h2 {
  margin-left: 30px;
  margin-top: 20px;
  color: white;
  

}
.cardmaterias h3{
  margin-left: 30px;
  margin-top: 15px;
  color: white;
}

.cardmaterias input {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 180px;
  border: none;
}


.bloque1{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
}

.contenedor_table{
  width:670px;
  height: auto;
  padding: 0px;
  margin: 0px;
  background: rgba(20, 46, 191, 0);
  border: solid 5px rgb(255, 255, 255);
  box-shadow: 1px 2px 7px black;
  border-radius: 10px;
  margin-top: 100px;
  
  
  
  

}
.contenedor_table h1{
  text-align: center;
  text-decoration: underline;
  width:100%;
  color: white;
  background:rgb(0, 0, 0);
  border-bottom: solid 3px white;
}



.contenedor_card{
 height:400px;
 width:100%;
 background: rgba(255, 255, 255, 0);
 
}

.tiket{
  
  
  
  height: 20px;
  width: 20px;
}

.cabeza_lista{
  font-size: 15px;
  background: rgba(24, 44, 203, 0.686);
  
  
  
  
  

}

.cabeza_lista th{
  
  font-size: 13px;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration:underline;
  border-bottom: solid 4px rgb(255, 255, 255);
}

.cabeza_lista td{
  font-size: 13px;
  padding: 10px;
  color: white;
  text-align: center;
  border-bottom: solid 4px rgb(255, 255, 255);
    
}